.idea
.junie
logs/
*.db
.run/
testdata/
.vscode
.cursor
.DS_Store
*/.DS_Store

Dockerfile
Dockerfile.dev
dev.dockerfile
.dockerignore

go.work

.github/*.md

_docker-compose.yml

logs
web/
web-desktop/
web-denshi/
out/
./assets/

test/testdata/**/*.json
test/sample
test/providers.json
test/db.json
test/providers.json
test/config.json
test/config.toml
whats-new.md

*/mock_data.json

TODO-priv.md

##
## Parser
##
seanime-parser/.git

##
## Next.js
##
# legacy
seanime-web-legacy/node_modules
seanime-web-legacy/out
seanime-web-legacy/out-desktop
seanime-web-legacy/out-denshi
seanime-web-legacy/web
seanime-web-legacy/.next
seanime-web-legacy/.idea
seanime-web-legacy/.pnp
seanime-web-legacy/.pnp.js
seanime-web-legacy/.yarn/install-state.gz
seanime-web-legacy/coverage
seanime-web-legacy/build
seanime-web-legacy/.DS_Store
seanime-web-legacy/*.pem
seanime-web-legacy/npm-debug.log*
seanime-web-legacy/yarn-debug.log*
seanime-web-legacy/yarn-error.log*
seanime-web-legacy/.env*.local
seanime-web-legacy/.vercel
seanime-web-legacy/*.tsbuildinfo
seanime-web-legacy/next-env.d.ts
seanime-web-legacy/snapshot
seanime-web-legacy/logs
seanime-web-legacy/analyze
seanime-web-legacy/TODO-priv.md
seanime-web-legacy/CHANGELOG-priv.md
seanime-web-legacy/public/test*

##
## Web App
##
seanime-web/node_modules
seanime-web/dist
seanime-web/out
seanime-web/out-desktop
seanime-web/out-denshi
seanime-web/web
seanime-web/.tanstack
seanime-web/.next
seanime-web/.idea
seanime-web/.pnp
seanime-web/.pnp.js
seanime-web/.yarn/install-state.gz
seanime-web/coverage
seanime-web/build
seanime-web/.DS_Store
seanime-web/*.pem
seanime-web/npm-debug.log*
seanime-web/yarn-debug.log*
seanime-web/yarn-error.log*
seanime-web/.env*.local
seanime-web/*.tsbuildinfo
seanime-web/snapshot
seanime-web/logs
seanime-web/analyze
seanime-web/TODO-priv.md
seanime-web/CHANGELOG-priv.md

seanime-webapp/public/test*

codegen/generated/hooks.mdx


internal/extension_repo/**/test*.ts
internal/extension_repo/goja_plugin_test

*.sh

seanime-web-tr/
codegen/nonext/
