@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.375rem;

        --titlebar-h: theme("height.10");

        --brand: theme('colors.brand.500');
        --slate: theme('colors.slate.500');
        --gray: theme('colors.gray.500');
        --zinc: theme('colors.zinc.500');
        --neutral: theme('colors.neutral.500');
        --stone: theme('colors.stone.500');
        --red: theme('colors.red.500');
        --orange: theme('colors.orange.500');
        --amber: theme('colors.amber.500');
        --yellow: theme('colors.yellow.500');
        --lime: theme('colors.lime.500');
        --green: theme('colors.green.500');
        --emerald: theme('colors.emerald.500');
        --teal: theme('colors.teal.500');
        --cyan: theme('colors.cyan.500');
        --sky: theme('colors.sky.500');
        --blue: theme('colors.blue.500');
        --indigo: theme('colors.indigo.500');
        --violet: theme('colors.violet.500');
        --purple: theme('colors.purple.500');
        --fuchsia: theme('colors.fuchsia.500');
        --pink: theme('colors.pink.500');
        --rose: theme('colors.rose.500');

        --text-color: theme('colors.gray.200');
        --background-color: #121212;

        --control: theme('colors.gray.700');
        --control-highlight: theme('colors.gray.600');

        --border: theme('colors.gray.700');
        --ring: theme('colors.brand.200');

        --muted: theme('colors.gray.400');
        --muted-highlight: theme('colors.gray.300');

        --paper: theme('colors.gray.900');
        --highlight: rgba(255, 255, 255, 0.06);
    }
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    @apply text-gray-100
}

h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
}

h2 {
    @apply scroll-m-20 text-3xl font-bold tracking-tight first:mt-0
}

h3 {
    @apply scroll-m-20 text-2xl font-bold tracking-tight
}

h4 {
    @apply scroll-m-20 text-xl font-bold tracking-tight
}

h5 {
    @apply scroll-m-20 text-lg font-bold tracking-tight
}


.titlebar {
    height: 30px;
    background: #329ea3;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebar-button:hover {
    background: #5bbec3;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-gray-700 rounded-none
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600
}

code {
    @apply bg-gray-800 rounded-md px-2 py-1 text-sm font-mono border border-[--border]
}
